.Button {
  background-color: #faf9f9;
  border: 1px #2e6deb solid;
  font-weight: bold;
  color: #2e6deb;
}

.Button:hover,
.Button:focus {
  background-color: #2e6deb !important;
  color: #faf9f9 !important;
  box-shadow: 1px 1px 5px #2e6deb !important;
  border-color: white !important;
}

.Button:hover:active {
  background-color: #2142b2 !important;
}

.Button:active {
  background-color: #2142b2 !important;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #2142b2;
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  /* border: 1px solid #2142b2; */
  background-color: #ffffff;
  color: #2142b2;
}

.Black,
.BlackOutline:hover {
  /* background-color: #242a3d;
  color: white; */
  background-color: #242a3d;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  /* background-color: #dadadf;
  color: #242a3d;
  border-color: #242a3d; */
  background-color: aliceblue;
  color: #242a3d;
}

.Bright {
  background-color: #2ed9ff;
  color: #2142b2;
}
