/* Styling for form elements with rounded left borders and padding */
.Form {
  color: var(--dark-grey);
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 35px;
  border-top-left-radius: 35px !important;
  border-bottom-left-radius: 35px !important;
}

/* Focus state for form to highlight with a dark blue border */
.Form:focus {
  box-shadow: none;
  border: 1px solid var(--dark-blue);
}

/* Styling for horizontal line or separator */
.Line {
  background: #e1f1fd;
  margin: 20px 0 25px;
}

/* Styling for add, update, and cancel comment buttons */
.CommentsButton {
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: 1px 1px 5px var(--dark-blue);
  border-radius: 35px;
  border-color: var(--dark-blue);
  font-weight: bold;
  margin: 0 10px 5px 0;
  padding: 3px 15px;
}

/* Hover and focus states for comment buttons to invert colors and lighten shadow */
.CommentsButton:hover,
.CommentsButton:focus {
  background-color: var(--white) !important;
  color: var(--dark-blue) !important;
  box-shadow: 1px 1px 5px var(--grey) !important;
  border-color: var(--grey) !important;
}
