.CommentBox {
  color: var(--black);
  border: 1px solid var(--dark-gre);
  border-radius: 35px;
  padding: 5px 10px 5px 20px;
}

.Owner {
  font-weight: bold;
  color: var(--dark-blue);
  margin-right: 8px;
}

.Date {
  font-weight: bold;
  color: red;
  display: inline-block;
  background: yellow;
}

.DropdownDots {
  display: inline-block;
  font-size: 20px;
  background: lime;
  color: black !important;
  z-index: 9999;
}