.CommentBox {
  color: var(--dark-grey);
  border: 1px solid var(--grey);
  border-radius: 35px;
  padding: 5px 10px 5px 20px;
}

.OwnerName {
  font-weight: bold;
  color: var(--dark-grey);
  margin-right: 6px;
}

.Date {
  font-weight: lighter;
  color: #b5b5b8;
}

.DropdownDots {
  height: 8px;
  width: 8px;
  float: right;
}