.CommentBox {
  color: var(--black);
  border: 1px solid var(--dark-gre);
  border-radius: 35px;
  padding: 5px 10px 5px 20px;
}

.Owner {
  font-weight: bold;
  color: var(--dark-blue);
  margin-right: 8px;
}

.Date {
  font-weight: lighter;
  color: var(--black);
}

.DropdownDots {
  position: relative;
  z-index: 10;
  padding: 0 0.5rem;
  cursor: pointer;
  color: black;
}
