/* Styling for individual items within a dropdown menu */
.DropdownItem {
  display: inline-block;
  max-width: 40%;
  padding: 0;
}

/* Background color change when a dropdown item is active (pressed) */
.DropdownItem:active {
  background-color: var(--grey) !important;
}

@media screen and (max-width: 768px) {
  /* On smaller screens, dropdown items take full width */
  .DropdownItem {
    max-width: 100%;
    flex-direction: column;
  }
  
}
