/* Styling for the user feedback message box */
.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: bold;
}

/* Specific styling for informational alerts */
.info {
  background-color: var(--off-white);
  border-color: #b6effb;
}

/* Styling for the close (X) button inside alerts */
.closebtn {
  margin-left: 15px;
  color: var(--dark-grey);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover effect for the close button to change color */
.closebtn:hover {
  color: var(--dark-blue);
}

/* Utility class to hide elements */
.hide {
  display: none;
}
