.Post {
  background-color: red;
  border: 1px solid rgba(154, 154, 154, 0.3);
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: var(--red);
}

.Heart:hover {
  color: var(--dark-blue);
}

.HeartOutline:hover {
  color: var(--red);
}

.Owner {
  font-weight: bold;
  padding-left: 8px;
}

.Owner:hover {
  color: var(--dark-blue);
}
