.App {
  font-family: 'Inter', sans-serif;
  color: black;
  background-color: #faf9f9;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.Body {
  padding-top: 120px;
}

h3 {
  font-weight: bold;
}

.Content {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid white;
}

/* Style app links */
a {
  color: darkgray !important;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: darkgray;
}

/* Style app icons */
i {
  color: var(--light-grey);
  font-size: 1.5rem;
  padding: 6px;
  vertical-align: middle;
}

/* Buttons */
.button {
  background-color: #faf9f9;
  border: 1px #2e6deb solid;
  font-weight: bold;
  color: #2e6deb;
}

.button:hover,
.button:focus {
  background-color: #2e6deb !important;
  color: #faf9f9 !important;
  box-shadow: 1px 1px 5px #2e6deb !important;
  border-color: white !important;
}

/* Add style to bootstrap alerts */
.Alert {
  margin-bottom: 0;
  padding: 5px;
  font-weight: bold;
}

/* Forms input field */
.Input {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  color: black;
}

.Input:focus {
  box-shadow: none;
  border: 1px solid #2e6deb;
}

.Input::placeholder {
  font-weight: normal;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

/* Like thumb-up icon style on hover */
.LikeIcon:hover {
  transform: rotate(-15deg) scale(1.1);
  cursor: pointer;
}

.Line {
  border-top: 1px solid red;
  margin: 23px auto;
  width: 70px;
}
