:root {
  --dark-blue: #2e6deb;
  --off-white: #faf9f9;
  --white: #ffffff;
  --grey: #9a9a9a;
  --dark-grey: #636363;
  --black: #000000;
  --red: #d70040;
}

.App {
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background-color: var(--off-white);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.Body {
  padding-top: 120px;
}

h3 {
  font-weight: bold;
}

.Content {
  background-color: var(--white);
  padding: 10px;
}

/* Style app links */
a {
  color: var(--dark-grey) !important;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: var(--dark-grey);
}

/* Style app icons */
i {
  color: var(--light-grey);
  font-size: 1.5rem;
  padding: 6px;
  vertical-align: middle;
}

/* Buttons */
.button {
  background-color: var(--off-white);
  border: 1px var(--dark-blue) solid;
  font-weight: bold;
  color: var(--dark-blue);
}

.button:hover,
.button:focus {
  background-color: var(--dark-blue) !important;
  color: var(--off-white) !important;
  box-shadow: 1px 1px 5px var(--dark-blue) !important;
  border-color: var(--white) !important;
}

/* Add style to bootstrap alerts */
.Alert {
  margin-bottom: 0;
  padding: 5px;
  font-weight: bold;
}

/* Forms input field */
.Input {
  background: var(--white);
  border: 1px solid var(--grey);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--dark-grey);
}

.Input:focus {
  box-shadow: none;
  color: var(--black);
  border: 1px solid var(--dark-blue);
}

.Input::placeholder {
  font-weight: normal;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

/* Like thumb-up icon style on hover */
.LikeIcon:hover {
  transform: rotate(-15deg) scale(1.1);
  cursor: pointer;
}

.Line {
  border-top: 1px solid red;
  margin: 23px auto;
  width: 70px;
}
